@use "../common" as *;
@use "../helper" as *;


.main-wrapper-addcustomers {
    // transform: translate(-20% , 0%);
    //   @include px-468 {
    //     width: 38rem;
    //   }

      label {
        font-weight: 600;
      }
      input {
        position: relative;
        font-size: 1.4rem;
        width: 100%;
        height: 3.5rem;
        border: none;
        box-shadow: $box-shadow;
        outline: none;
        padding: 2rem;
        border-radius: 0.5rem;
        &::placeholder {
          font-size: 1.4rem;
        }
      }
      .input-icon {
        position: absolute;
        top: 4.2rem;
        right: 3%;
      }
      .error-icon {
        color: $error-color;
      }
      .success-icon {
        color: $success-color;
      }
      .error-message {
        color: $error-color;
        font-size: 1.2rem;
        font-weight: 600;
      }
      input.input-error {
        border: $error-border;
        background-color: $errorbg-color;
      }
      input.input-success {
        border: $success-border;
        background-color: $successbg-color;
        // background-color: #ff8e81;
      }
      .password-toggle-icon {
        // border: 1px solid red;
        position: absolute;
        top: 4rem;
        right: 3%;
        cursor: pointer;
      }
      .main-btn {
        color: $white;
        background-color: $primary-color;
        border: none;
        border-radius: 0.7rem;
        padding: 0.7rem 1.5rem;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
    // @include px-468 {
    //   .toaster {
    //     width: 25rem;
    //   }
    // }
  
    .checkbox-label{
       input{
        box-shadow: none;
        width: 20px;
      
       }

    }