$primary-color : #FF438C;
$pink-ffd: #ffd7e6;
$white : #ffffff;
$gray-f6f: #f6f6f6;
$sky-border : 1px solid rgb(195, 238, 255);
$box-shadow :0px 4px 7px 0px rgba(172, 172, 172, 0.25);
$black-505: #505050;
$gray-999: #999999;
$error-color : #e74c3c;
$success-color : #1d8500;
$errorbg-color : #ffeeec;
$successbg-color : #f4fff1;
$error-border : 1px solid #e74c3c;
$success-border : 1px solid #61e73c;
$blue-93d : #93DDFF;